:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #5B7DB1;      /* Soft Indigo */
  --secondary: #F4A261;    /* Warm Peach */
  --accent: #2A9D8F;       /* Gentle Teal */
  --bg-main: #FAF9F6;      /* Light Ivory */
  --bg-card: wheat;      /* White */
  --text-primary: #333E48; /* Slate Gray */
  --text-secondary: #7A7D82; /* Cool Gray */
  --success: #4CAF50;      /* Calm Green */
  --danger: #E76F51;       /* Soft Red */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: var(--bg-main); /* Light Ivory */
  color: var(--text-primary);
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color:white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}
